@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/fonts/ITCAvantGardeStd-Bk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.bl23 {
  display: flex;
}

li {
  padding-left: 16px;
  position: relative;
}
.iconone::marker {
  content: url(img/soo.svg);
}
.icontwo::marker {
  content: url(img/otpechatok.svg);
}
.iconthree::marker {
  content: url(img/dvepalke.svg);
}

.block1 {
  border: 10px solid #000;
  width: 1503px;
  position: relative;
  height: 637px;
  border-radius: 40px;
  border: 1px solid var(--blue-swatch-d-1-d-4-fa, #d1d4fa);
  background: #fff;
  box-shadow: 0px 12px 30px 0px rgba(14, 68, 152, 0.15);
  margin-left: 201px;
  padding-right: 214px;
}
.loogo {
  margin-left: 1488px;
  margin-top: 35px;
}
.convapp {
  margin-top: 25px;
  margin-left: 130px;
  color: var(--blue-grey-swatch-26273-a, #26273a);
  font-family: "Hepta Slab";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.convapp2 {
  color: var(--blue-grey-swatch-7274-a-0, #7274a0);
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  width: 422px;
  height: 144px;
  margin-left: 130px;
  margin-top: 30px;
}
.li {
  color: var(--blue-grey-swatch-26273-a, #26273a);
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-left: 148px;
  margin-top: 30px;
  line-height: 2.7;
}
.one {
  margin-left: 130px;
  margin-top: 30px;
  line-height: 2.7;
}
.but {
  display: flex;
  margin-left: 126px;
}
.butt {
  color: var(--blue-grey-swatch-ffffff, #fff);
  width: 156px;
  height: 52px;
  text-align: center;
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6; /* 100% */
  border-radius: 12px;
  border: 1px solid #079dd9;
  background: #079dd9;
  box-shadow: 0px 12px 30px 0px rgba(7, 157, 217, 0.19);
  cursor: pointer;
}
.yout {
  margin-left: 74px;
}
.textvenom {
  width: 203px;
  height: 15px;
  flex-shrink: 0;
  color: var(--blue-grey-swatch-1-a-1-a-29, #1a1a29);
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 17px;
  margin-top: 18px;
}
.block1 {
  display: flex;
}
.pic1 {
  width: 566px;
  height: 561px;
  position: absolute;
  left: 1149px;
  bottom: 0px;
  border-radius: 0 0 30px 0;
}
.pic2 {
  position: absolute;
  right: 228px;
  top: 210px;
  border-radius: 24px;
  border: 1px solid var(--blue-swatch-e-0-e-2-fc, #e0e2fc);
  background: var(--blue-grey-swatch-ffffff, #fff);
  box-shadow: -10px 30px 50px 0px rgba(103, 145, 208, 0.09);
}
.pic3 {
  position: absolute;
  right: 146px;
  top: 100px;
  border-radius: 18px;
  border: 1px solid var(--blue-swatch-e-0-e-2-fc, #e0e2fc);
  background: var(--blue-grey-swatch-ffffff, #fff);
  box-shadow: 0px 16px 50px 0px rgba(14, 68, 152, 0.09);
}
.block2 {
  border: 10px solid #000;
  width: 584px;
  position: relative;
  height: 318px;
  border-radius: 40px;
  border: 1px solid var(--blue-swatch-d-1-d-4-fa, #d1d4fa);
  background: #fff;
  box-shadow: 0px 12px 30px 0px rgba(14, 68, 152, 0.15);
  margin-left: 201px;
  top: 40px;
}
.ic1 {
  position: absolute;
  left: 508px;
  top: 18px;
}
.ic2 {
  position: absolute;
  left: 518px;
  top: 29px;
}
.basetxt {
  color: var(--blue-grey-swatch-595-a-7-e, #595a7e);
  font-family: "Hepta Slab";
  font-size: 32px;
  font-style: normal;
  font-weight: 1000;
  margin-left: 65px;
  margin-top: 84px;
}
.liist2::marker {
  content: "•";
}
.list2 {
  padding-left: 71px;
  position: absolute;
  top: 136px;
  color: var(--blue-grey-swatch-7274-a-0, #7274a0);
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.block3 {
  border: 4px solid #858df1;
  width: 1106px;
  position: relative;
  height: 318px;
  border-radius: 30px;
  border: 1px solid var(--blue-swatch-d-1-d-4-fa, #d1d4fa);
  background: var(--blue-swatch-6670-ee, #6670ee);
  box-shadow: 0px 12px 30px 0px rgba(14, 68, 152, 0.15);
  top: 40px;
  margin-left: 26px;
}
.except {
  color: var(--blue-grey-swatch-ffffff, #fff);
  font-family: "Hepta Slab";
  font-size: 32px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  padding-left: 79px;
  padding-top: 53px;
}
.liist3::marker {
  content: "•";
}
.list3 {
  padding-left: 89px;
  position: absolute;
  top: 116px;
  color: var(--blue-swatch-f-0-f-1-fd, #f0f1fd);
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.but2 {
  cursor: pointer;
  position: absolute;
  top: 245px;
  left: 77px;
  width: 248px;
  height: 41px;
  flex-shrink: 0;
  color: var(--blue-grey-swatch-3-f-415-c, #3f415c);
  text-align: center;
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #fff;
  border: white;
  border-radius: 10px;
}
.klyaksa {
    position: absolute;
    left: 665px;
    top: 0px;
    border-radius: 30px;
}
.doniderevo {
    position: absolute;
    left: 753px;
    top: 0px;
    border-radius: 30px;
}